<ion-header>
  <ion-navbar>
    <ion-title>
      Todo
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only [navPush]="moveAddPage">
        <ion-icon name="add"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-list-header>
      Todo
    </ion-list-header>
    <ion-searchbar (ionInput)="search($event)"></ion-searchbar>
    <!--<ion-item-sliding *ngFor="let item of todoData">-->
    <!--<ion-item >-->
    <!--<h2>{{item}}번째</h2>-->
    <!--</ion-item>-->
    <!--<ion-item-options side="left">-->
    <!--<button ion-button color="primary">-->
    <!--<ion-icon name="text"></ion-icon>-->
    <!--Text-->
    <!--</button>-->
    <!--<button ion-button color="secondary">-->
    <!--<ion-icon name="call"></ion-icon>-->
    <!--Call-->
    <!--</button>-->
    <!--</ion-item-options>-->
    <!--<ion-item-options side="right">-->
    <!--<button ion-button color="primary">-->
    <!--<ion-icon name="mail"></ion-icon>-->
    <!--Email-->
    <!--</button>-->
    <!--</ion-item-options>-->
    <!--</ion-item-sliding>-->
    <!--ion-item-->
    <ion-item *ngFor="let item of (todoData | async)" (click)="moveDetail(item)">
    <h1>{{item.title}}</h1>
    </ion-item>
  </ion-list>
</ion-content>
