page-login {

    #register{
        text-align: center;
        color:blue;
    }

    #login-container{
        width:100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
   
}
